
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --light: white;
        --dark: black;
        --light-grey: #dfdfe1;
        --dark-grey: grey;
        --purple: #61092d;
        --bg-btn: #0061ff;
        --bg-btn-light: #478cfa;
        --bg-heroimg: #b4d0e7;
        --txt-check: #0c64ff;
        --bg-designit: #a2d39b;
        --bord-designit: #d1e9cd;
        --bg-arizona: #61082b;
        --bg-florida: #0093ce;
        --bg-topps: #ff1c1c;
        --bg-bicycle: #d5001f;
        --bg-hearst: #b4d0e7;
        --bg-lonely: #0d2481;
        --bg-clear: #ffd830;
        --bg-designit-quote: #f5f5f5;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        min-width: 1400px;
    }

    header {
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--light);
    }

    footer {
        background-color: var(--dark);
    }

/* #endregion Common */

/* #region Utilities */

    .container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
    }

    .container2 {
        width: 60%;
        max-width: 1000px;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .py-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .px-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .px-20 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .p-rel {
        position: relative;
    }

    .a-btn {
        display: inline-block;
        background-color: var(--bg-btn);
        color: var(--light-grey);
        text-decoration: none;
        padding: 5px 15px;
        transition: all 300ms;
    }

    .a-btn:hover {
        background-color: var(--bg-btn-light);
        color: var(--light);
    }

/* #endregion Utilities */

/* #region Debug */

    .debug1 {
        background-color: orange;
        height: 100px;
    }

    .debug2 {
        background-color: lightgreen;
        height: 400px;
    }

    .debug3 {
        background-color: black;
        height: 100px;
    }

/* #endregion Debug */

/* #region Header */

    .h-container, .h-links1, .h-links2 {
        justify-content: space-between;
        align-items: center;
    }

    .dropbox-logo {
        line-height: 50%;
    }

    .h-container .links a {
        display: inline-block;
        text-decoration: none;
        color: var(--dark);
        padding: 20px 20px;
    }

    .h-container .links a:hover {
        border-bottom: 1px solid var(--dark);
    }

/* #endregion Header */

/* #region Hero Image */

    .heroimg-container {
        height: 500px;
        background-color: var(--bg-heroimg);
    }

    .heroimg-container2 {
        flex-wrap: wrap;
    }

    .heroimg-title {
        width: 80%;
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 32px;
    }

    .heroimg-par {
        width: calc(100% /12 *4);
        padding-right: 60px;
    }

    .heroimg-par .a-btn {
        margin: 20px 0;
    }

    .heroimg-par .cancel {
        padding-bottom: 40px;
    }

    .heroimg-par .arrow {
        font-size: 30px;
    }

    .heroimg-par .arrow a {
        color: var(--dark);
    }

    .heroimg-img {
        width: calc(100% /12 *8);
    }

    .heroimg-img img {
        width: 90%;
        max-width: 750px;
    }

/* #endregion Hero Image */

/* #region Piano business */

    .bsn-title {
        padding-top: 150px;
        padding-bottom: 40px;
        font-size: 20px;
    }

    .radio-btn {
        padding-bottom: 30px;
    }

    #mensile, #annuale {
        vertical-align: middle;
    }

    #annuale {
        margin-left: 30px;
    }

    .card-container {
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    .bsn-card {
        width: calc(100% /12 *3.5);
    }

    .bsn-card2 {
        width: 100%;
        padding-top: 30px;
    }

    .bsn-card-title {
        text-align: center;
        padding: 10px 0;
    }

    .bsn-card-title, .bsn-card-body, .bsn-card-body2 {
        border-top: 2px solid var(--light-grey);
        border-left: 1px solid var(--light-grey);
        border-right: 1px solid var(--light-grey);
    }

    .bsn-card-body {
        height: 750px;
    }

    .bsn-card-body, .bsn-card-body2 {
        padding: 20px 20px;
        border-bottom: 2px solid var(--light-grey);
    }

    .bsn-card-body .price {
        padding: 10px 0;
    }

    .bsn-card-body em {
        color: var(--dark-grey);
    }

    .bsn-card-body ul {
        list-style: none;
        padding-top: 20px;
    }

    .bsn-card-body li {
        padding-top: 10px;
    }

    .bsn-card-body .a-btn {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }

    .bsn-card-body hr {
        width: 30%;
        margin: 30px;
        margin-left: 0px;
    }

    .bsn-card-body .fa-check {
        color: var(--txt-check);
    }
    
    .bsn-card-body2 .col1 {
        width:  calc(100% /12 * 8);
    }

    .bsn-card-body2 .col2 {
        width: calc(100% /12 * 4);
        justify-content: flex-end;
        align-items: flex-start;
    }

    .bsn-card-body2 .ufficio-vendite {
        padding: 10px 0;
        padding-bottom: 30px;
    }

    .bsn-card-body2 .btn2 {
        padding: 10px 20px;
    }

/* #endregion Piano business */

/* #region Partner Dropbox */

    .partner {
        padding-bottom: 100px;
    }

    .partner .img {
        width: calc(100% /12 * 8);
    }

    .partner img {
        width: 90%;
        max-width: 600px;
    }

    .partner .par {
        width: calc(100% /12 * 4);
        padding-right: 40px;
    }

    .par div {
        padding: 20px 0;
    }

    .par .a-btn {
        background-color: var(--light);
        color: var(--dark);
        border: 1px solid var(--dark);
        padding: 10px 20px;
    }

    .par .a-btn:hover {
        background-color: var(--dark);
        color: var(--light);
    }

/* #endregion Partner Dropbox */

/* #region Operazioni Business*/

    .operaz-title {
        font-size: 20px;
        padding-bottom: 40px;
    }

    .operaz {
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    .operaz-item {
        width: calc(100% /12 *3.5);
        padding-bottom: 30px;
    }

    .operaz img {
        width: 90%;
    }

    .operaz .operaz-card-img {
        text-align: center;
    }

    .operaz .operaz-card-title {
        padding: 10px 0;
    }
    
/* #endregion Operazioni Business */

/* #region Team */

    .team-title {
        font-size: 20px;
        padding-bottom: 40px;
        width: 50%;
    }

    .scopri {
        padding-bottom: 100px;
    }

/* #endregion Team */

/* #region Icone clienti */

    .clients {
        align-items: center;
    }
    
    .clients-item {
        width: calc(100% / 12 * 4);
    }

    .clients-item.lateral {
        flex-wrap: wrap;
    }

    .clients-card {
        width: 50%;
        aspect-ratio: 1/1;
        align-items: center;
        justify-content: center;
    }

    .clients-card img {
        width: 60%;
        filter: invert(1);
    }

    .clients-card.designit {
        background-color: var(--bg-designit);
        border: 10px solid var(--bord-designit);
    }

    .clients-card.arizona {
        background-color: var(--bg-arizona);
    }

    .clients-card.florida {
        background-color: var(--bg-florida);
    }

    .clients-card.topps {
        background-color: var(--bg-topps);
    }

    .clients-card.bicycle {
        background-color: var(--bg-bicycle);
    }

    .clients-card.hearst {
        background-color: var(--bg-hearst);
    }

    .clients-card.lonely {
        background-color: var(--bg-lonely);
    }

    .clients-card.clear {
        background-color: var(--bg-clear);
    }

    .clients-item.designit-quote {
        aspect-ratio: 1/1;
        padding: 30px;
        background-color: var(--bg-designit-quote);
    }

    .designit-logo img {
        width: 60%;
        padding-bottom: 40px;
    }
    
/* #endregion Icone clienti */

/* #region Porta Dropbox  */

    .porta-dropbox {
        background-color: var(--bg-heroimg);
    }

    .porta-dropbox-cont {
        padding: 100px 0;
        justify-content: space-between;
        align-items: center;
    }

    .porta-dropbox-cont .title {
        width: 50%;
        font-size: 20px;
        color: var(--purple);
    }

    .porta-dropbox-cont .a-btn {
        background-color: var(--light);
        color: var(--dark);
    }

    .porta-dropbox-cont .a-btn:hover {
        background-color: var(--dark);
        color: var(--light);
    }

/* #endregion Porta Dropbox  */

/* #region FAQ  */

    .faq {
        padding: 100px 0;
    }

    .faq-title {
        padding-bottom: 40px;
        font-size: 20px;
    }

    .faq-container {
        padding: 40px 0;
        padding-right: 20px;
        border-top: 1px solid var(--dark);
        border-bottom: 1px solid var(--dark);
    }

    .question {
        align-items: center;
        justify-content: space-between;
    }

    .answer {
        display: none;
        padding-top: 20px;
    }

    .faq-container:hover .answer {
        display: block;
    }

    .fa-chevron-up {
        display: none;
    }

    .faq-container:hover .fa-chevron-down {
        display: none;
    }

    .faq-container:hover .fa-chevron-up {
        display: block;
    }

/* #endregion FAQ  */

/* #region FAQ con transizione 

.faq {
    padding: 100px 0;
}

.faq-title {
    padding-bottom: 40px;
    font-size: 20px;
}

.faq-container {
    padding: 40px 0;
    padding-right: 20px;
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
    height: 98px;
    transition: all 1s;
}

.question {
    align-items: center;
    justify-content: space-between;
}

.answer {
    opacity: 0;
    padding-top: 20px;
    transition: all 1s;
}

.faq-container:hover {
    height: 150px;
}

.faq-container:hover .answer {
    opacity: 1;
}

.fa-chevron-up {
    display: none;
}

.faq-container:hover .fa-chevron-down {
    display: none;
}

.faq-container:hover .fa-chevron-up {
    display: block;
}

 #endregion FAQ  */

/* #region Footer  */

    .f-container {
        color: var(--light);
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .f-item {
        width: calc(100% /12 * 2);
        padding: 50px 0;
    }

    .f-item ul {
        list-style: none;
        padding-top: 20px;
    }

    .f-item li {
        padding-top: 10px;
    }

    .f-item a {
        color: var(--light);
        text-decoration: none;
    }

    .f-item a:hover {
        text-decoration: underline;
    }

    .language {
        width: 100%;
        padding-bottom: 40px;
        color: var(--dark-grey);
    }

    .language hr {
        width: 15%;
        margin: 20px 0;
        margin-left: 0px;
        color: var(--light);
    }

/* #endregion Footer  */


/* #region login main */

    .login-container {
        width: 50%;
        margin: auto;
        padding: 50px 0;
        justify-content: center;
    }

    .login-container .title {
        padding-bottom: 15px;
        font-size: 20px;
    }

    .login-container button, .login-container input {
        width: 350px;
    }

    .login-container .btn {
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background-color: var(--light);
    }

    .login-container .btn.google {
        margin-bottom: 30px;
        border: 1px solid #d2e3fc;
        border-radius: 4px;
    }

    .login-container .btn.google:hover {
        background-color: #f1f7ff;
        border: 1px solid #d2e3fc;
    }

    .login-container .btn.apple {
        border: 1px solid #adadad;
    }

    .login-container .btn.apple:hover {
        background-color: #dfdfdf;
    }

    .login-container .btn img {
        width: calc(100% /12*1);
    }

    .login-container .btn div {
        width: calc(100% /12*11);
    }
    
    .login-container input {
        height: 30px;
        margin-bottom: 30px;
    }

    .login-container .line {
        align-items: center;
        position: relative;
        margin: 40px 0;
    }

    .line hr {
        width: 100%;    
    }

    .line div {
        background-color: var(--light);
        width: 40px;
        height: 20px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }

    .login-container .email-label {
        font-size: 12px;
        color: var(--dark-grey);
        padding-bottom: 10px;
    }

    .login-container .continua {
        background-color: #0061fe;
        color: var(--light);
        font-weight: bold;
        padding: 10px;
        border: none;
    }

    .login-container .continua:hover {
        background-color: #0057e5;
    }

/* #endregion login main */
