
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg-btn: #0061ff;
        --bg-heroimg: #b4d0e7;
        --bg-btn-light: white;
        --txt-dark: black;
        --txt-light: white;
        --txt-check: #0c64ff;
        --light-grey: #dfdfe1;
        --bg-designit: #a2d39b;
        --bord-designit: #d1e9cd;
        --bg-arizona: #61082b;
        --bg-florida: #0093ce;
        --bg-topps: #ff1c1c;
    }

    .container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
    }

    .container2 {
        width: 70%;
        max-width: 1100px;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .py-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .px-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .p-rel {
        position: relative;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        min-width: 1100px;
    }

    button {
        background-color: var(--bg-btn);
        color: var(--txt-light);
        border: none;
        border-radius: 0;
    }

/* #endregion Common */

/* #region Debug */

    .debug1 {
        background-color: orange;
        height: 100px;
    }

    .debug2 {
        background-color: lightgreen;
        height: 400px;
    }

    .debug3 {
        background-color: black;
        height: 100px;
    }

/* #endregion Debug */

/* #region Header */

    .h-container, .h-links1, .h-links2 {
        justify-content: space-between;
        align-items: center;
    }

    .dropbox-logo {
        line-height: 50%;
    }

    .h-container a {
        margin: 0 14px;
        text-decoration: none;
        color: var(--txt-dark);
    }

    .h-container a:hover {
        text-decoration: underline;
    }

    .h-container button {
        padding: 5px 15px;
    }

/* #endregion Header */

/* #region Hero Image */

    .heroimg-container {
        height: 500px;
        background-color: var(--bg-heroimg);
    }

    .heroimg-container2 {
        flex-wrap: wrap;
    }

    .heroimg-title {
        width: 80%;
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 32px;
    }

    .heroimg-par {
        width: calc(100% /12 *3);
    }

    .free-btn {
        margin: 20px 0;
        padding: 8px 16px;
    }

    .cancel {
        padding-bottom: 30px;
    }

    .arrow {
        font-size: 30px;
    }

    .heroimg-img {
        width: calc(100% /12 *9);
    }

    .heroimg-img img {
        width: 90%;
        max-width: 650px;
    }

/* #endregion Hero Image */

/* #region Piano business */

    .bsn-title {
        padding-top: 100px;
        padding-bottom: 40px;
        font-size: 20px;
    }

    .radio-btn {
        padding-bottom: 20px;
    }

    #mensile, #annuale {
        vertical-align: middle;
    }

    #annuale {
        margin-left: 30px;
    }

    .card-container {
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    .bsn-card {
        width: calc(100% /12 *3.6);
    }

    .bsn-card2 {
        width: 100%;
        padding-top: 20px;
    }

    .bsn-card-title {
        text-align: center;
        padding: 10px 0;
    }

    .bsn-card-title, .bsn-card-body, .bsn-card-body2 {
        border-top: 2px solid var(--light-grey);
        border-left: 1px solid var(--light-grey);
        border-right: 1px solid var(--light-grey);
    }

    .bsn-card-body, .bsn-card-body2 {
        padding: 20px 20px;
        border-bottom: 2px solid var(--light-grey);
    }

    .bsn-card-body .price {
        padding: 10px 0;
    }

    .bsn-card-body ul {
        list-style: none;
        padding-top: 20px;
    }

    .bsn-card-body li {
        padding-top: 10px;
    }

    .bsn-card-body .btn {
        margin: 20px 0;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .bsn-card-body hr {
        width: 30%;
        margin: 30px;
        margin-left: 0px;
    }

    .bsn-card-body .fa-check {
        color: var(--txt-check)
    }
    
    .bsn-card-body2 .col1 {
        width:  calc(100% /12 * 8);
    }

    .bsn-card-body2 .col2 {
        width: calc(100% /12 * 4);
        justify-content: flex-end;
        align-items: flex-start;
    }

    .bsn-card-body2 .ufficio-vendite {
        padding: 10px 0;
        padding-bottom: 30px;
    }

    .bsn-card-body2 .btn2 {
        padding: 10px 20px;
    }

/* #endregion Piano business */

/* #region Partner Dropbox */

    .partner {
        padding-bottom: 100px;
    }

    .partner .img {
        width: calc(100% /12 * 7);
    }

    .partner img {
        width: 90%;
        max-width: 450px;
    }

    .partner .par {
        width: calc(100% /12 * 5);
        padding: 20px;
    }

    .par div {
        padding: 10px 0;
    }

    .par button {
        background-color: var(--bg-btn-light);
        color: black;
        border: 1px solid var(--txt-dark);
        border-radius: 0;
        padding: 10px 20px;
        box-shadow: -1px 0px 0px 1px;
    }

/* #endregion Partner Dropbox */

/* #region Operazioni Business*/

    .operaz-title {
        font-size: 20px;
        padding-bottom: 40px;
    }

    .operaz {
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 100px;
    }

    .operaz-item {
        width: calc(100% /12 *3.6);
        padding-bottom: 20px;
    }

    .operaz img {
        width: 90%;
    }

    .operaz .operaz-card-img {
        text-align: center;
    }

    .operaz .operaz-card-title {
        padding: 10px 0;
    }
    
/* #endregion Operazioni Business */

/* #region Team */

    .team-title {
        font-size: 20px;
        padding-bottom: 40px;
        width: 50%;
    }

    .scopri {
        padding-bottom: 100px;
    }

/* #endregion Team */

/* #region Icone clienti */

    .clients {
        align-items: center;
    }
    
    .clients-item {
        width: calc(100% / 12 * 4)
    }

    .clients-item.lateral {
        flex-wrap: wrap;
    }

    .clients-card {
        width: 50%;
        aspect-ratio: 1;
        align-items: center;
        justify-content: center;
    }

    .clients-card img {
        width: 80%;
    }

    .clients-card.designit {
        background-color: var(--bg-designit);
    }

    .clients-card.arizona {
        background-color: var(--bg-arizona);
    }

    .clients-card.florida {
        background-color: var(--bg-florida);
    }

    .clients-card.topps {
        background-color: var(--bg-topps);
    }




/* #endregion Icone clienti */




